@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Roboto', sans-serif;
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Firefox */
}
body::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
    
}